body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.titulo1 {
    color: violet;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo2 {
    color: brown;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo3 {
    text-align: center;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo4 {
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.parrafo {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}